<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="Content-Security-Policy" content="script-src * 'unsafe-inline'">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/gameinfo.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>Thông tin trò chơi</title>  
</head>

<body>
    <script>
        function handlelogout()
        {
            localStorage.setItem("role","")
        }
    </script>
    <script>
        localStorage.setItem("role", "Admin");
    </script>
    <div id="container">
        <div id="side-bar">
            <h3>Chức năng</h3>
            <ul>
                <li><a href="/api/user/admin/assign_role"><button>Assign role</button></a></li>
                <!--<li><a href="/api/user/employee/createrole"><button>create role</button></a></li>-->
                <li><a href="/api/user/admin"><button>Home</button></a></li>
                <li><a href="/api/user/employee/thongke"><button>Thống kê người chơi</button></a></li>
                <li><a href="/api/user/employee/GameInformation"><button>Thông tin trò chơi</button></a></li>
                <li><a href="/api/user/employee/csvc"><button>Cơ sở vật chất</button></a></li>
                <li><a href="/api/user/employee/GamePrice"><button>Quản lý trò chơi</button></a></li>
            </ul>
        </div>
       
        <% adminID = "61c08153a53c669773cfe9f7" %>
        
        
        <div id="main-content">
            <div class="main-content-top">
                <h3>Admin</h3>
                
                <button onclick="handlelogout()">
                    <a href="/">Đăng xuất</a>
                </button>
            </div>
            <table class="table table-hover">
                <label class="lab">
                    ID <input class="inp" type="text" name="dummy1" readonly="true" value="<%= adminID%>"/>
                </label>
                <hr>
                    
                  
                
                <button>
                    <a href="/api/user/changepassword/<%= adminID %>">
                        Change password
                    </a>
                </button>
                <hr>
                
            </table>
            <script>
                function handleUpdateProduct(value) {
                    console.log(value);
                    console.log("hello")
                    $(location).attr('href', '/api/user/employee/GamePrice/update-product/' + value);
                }
            </script>
            
        </div>



</body>

</html>