<link rel="stylesheet" href="/../css/login.css">
<div class="login-page">
    <div class="form">
      
      <form class="login-form" action="/api/auth/login" method="post">
        <input type="text" name="username" placeholder="username"/>
        <input type="password" name="password" placeholder="password"/>
        <button>login</button>
        <p class="message">Not registered? <a href="/api/auth/signup">Create an account</a></p>
      </form>
    </div>
  </div>