<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/../css/general.css">
    <link rel="stylesheet" href="/../css/table.css">
    <link rel="stylesheet" href="/../css/gameinfo.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>Thông tin trò chơi</title>
</head>

<body>
    <div id="container">
        <div id="side-bar">
            <h3>Chức năng</h3>
            <ul>
                <li><a href="/api/user/employee/thongke"><button>Thống kê người chơi</button></a></li>
                <li><a href="/api/user/employee/GameInformation"><button>Thông tin trò chơi</button></a></li>
                <li><a href="/api/user/employee/csvc"><button>Cơ sở vật chất</button></a></li>
                <li><a href="/api/user/employee/GamePrice"><button>Quản lý trò chơi</button></a></li>
            </ul>
        </div>
        <div id="main-content">
            <div class="main-content-top">
                <h3>Thông tin trò chơi</h3>
                <button>
                    Đăng xuất
                </button>
            </div>
            <form action="/api/user/employee/search_user" method="post">
                <label for="username">Nhap username</label>

                <input type="text" name="username">
            </form>

            <% if(client) { %>
            <form action="/api/user/employee/updateClientTicket" method="post">
                <div>userID <input type="text" name="clientID" value="<%= client._id %>" readonly="true"></div>
                <div>username<input type="text" value="<%= client.username %>" readonly="true"></div>
                <div>ticketexpired<input type="date" name="ticketexpired" value="<%= client.ticketexpired %>"></div>
                <div>ticketactivated<input type="date" name="ticketactivated" value="<%= client.ticketactivated %>"></div>
                <button type="submit">Confirm</button>
            </form>
            <% } %>
            <script>
                function handleUpdateProduct(value) {
                    console.log(value);
                    $(location).attr('href', '/api/user/employee/GameInformation/update-product/' + value);
                }
            </script>


</body>

</html>